<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toboolist</title>
    <!-- style -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <header>
      <img id="logo" src="img/logo.png" alt="logo boolean" />
      <span id="logo-text">Toboolist</span>
    </header>
    <main>
      <!-- dynamic container -->
      <div class="container">
        <div class="top">
          <!-- keyup to listen button enter on the keyboard -->
          <!-- v-model to connect the input text to the variable -->
          <input
            @keyup.enter="addTodo"
            type="text"
            placeholder="es: Fare la spesa..."
            v-model="newTodo.text">
          <!-- addTodo to save the list in local storage -->
          <button 
                type="button"
                class="btn btn-filled"
                @click="addTodo">Add Task</button>
        </div>
        <div class="tasks">
          <!-- when the list is empty show the message -->
          <h2 
            v-show="todoList.length === 0"
            style="text-align: center;">la tua lista è vuota</h2>
          <ul class="inner-list">
            <!-- v-for insert elements into the page -->
            <li
              v-for="curElem,index in todoList">
              <!-- the class dynamics assign the 3 classes depending on the value of the done variable of the current object -->
              <!-- @click change invert done value -->
              <span
                class="circle"
                :class ="{'done': curElem.done === true},{'checked' : curElem.done === true},{'delete' : curElem.done === false}"
                @click="curElem.done = !curElem.done">
                {{curElem.text}}
              </span>
              <!-- vshow show button when tash is done -->
              <!-- deleToto remove todo of the list and refresh local storage -->
              <div id="deleteBtn"
                v-show="curElem.done === true"
                @click="deleteTodo(index)"
                class="rounded"
                >X
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- /dynamic container -->
    </main>
    <!-- script -->
    <script src="./js/script.js"></script>
  </body>
</html>
